<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Form Validation</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <link rel="stylesheet" href="/css/style.css" />
    <style>
        body {
            background-image: linear-gradient(rgba(29, 212, 212, 0.664), rgba(0, 0, 0, 0.7)), url("css/img/1.jpg"), url(img/1.jpg);

            background-size: cover;
        }

        body {
            background: rgb(38, 202, 231);
        }

        hr {
            background: rgb(228, 65, 36)
        }

        .contact-form {
            background: rgb(242, 244, 245);
            color: black;
            margin-top: 20px;
            padding: 100px;
            box-shadow: 0px 0px 10px 3px rgba(66, 64, 64, 0.267);
        }

        .hidden {
            display: none;
        }

        .hidden2 {
            display: none;
        }
    </style>
</head>

<body>
    <% include partials/adminnav %>
    <div class="dashboard-wrapper">
        <div class="container-fluid  dashboard-content">
            <!-- ============================================================== -->
            <!-- pageheader -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title">Add Bed</h2>
                        <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit
                            amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- end pageheader -->
            <!-- ============================================================== -->
            <div class="container contact-form">
                <h1>Add Wards</h1>
                <hr>
                <form id="addWard">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>Ward Name</label>
                                    <Input type="text" name="catagory" id="wardid" class="form-control">
                                </div>
                                <div>
                                    <label>Description</label>
                                    <Input type="text" name="catagory" id="descriptionid" class="form-control">
                                </div>
                                <br>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block" id="btn">Create
                                        Ward</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="container contact-form">
                <h1>Add Bed</h1>
                <hr>
                <form id="addbed">
                    <div class="row">
                        <div class="col-md-10">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label>Ward Name</label>
                                    <select class="browser-default custom-select" id="nameid">
                                        <% for(var i=0; i < posts.length; i++) { %>
                                        <option value="<%= posts[i]._id %>"><%= posts[i].ward %></option>
                                        <% } %>
                                    </select>
                                </div>
                                <div>
                                    <label>Bed Number</label>
                                    <Input type="number" name="catagory" id="numberid" class="form-control">
                                </div>
                                <br>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-block" id="btn">Create Bed</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script rel="javascript" type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script rel="javascript" type="text/javascript" src="/main.js"></script>

</body>

</html>