<!doctype html>
<html lang="en">

 
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../vendors/css/bootstrap.min.css">
     <link href="../resources/css/admin.css" rel="stylesheet"> 
    <link rel="stylesheet" href="../vendors/css/style.css">
    <link rel="stylesheet" href="../resources/css/fontawesome-all.css">



    <style>
        body{
             background-image: linear-gradient(rgba(29, 212, 212, 0.664), rgba(0, 0, 0, 0.7)),url("css/img/1.jpg"),   url(img/1.jpg);
      
            background-size: cover;
        }  
         body{
            background: rgb(247, 247, 247);
        }
        hr{
            background: rgb(228, 65, 36)
        }
        .contact-form{
            background:rgb(242, 244, 245);
            color: black;
            margin-top: 20px;

          padding: 100px;

            box-shadow: 0px 0px 10px 3px rgba(66, 64, 64, 0.267);
        }
        </style>
</head>

<body>

        <% include partials/adminnav %> 
    <!-- ============================================================== -->
    <!-- main wrapper -->
    <!-- ============================================================== -->
    <div class="dashboard-main-wrapper">
        <!-- ============================================================== -->
        <!-- navbar -->
        <!-- ============================================================== -->
        
     

        
      
      <div class="dashboard-wrapper">
        <div class="container-fluid  dashboard-content">
            <!-- ============================================================== -->
            <!-- pageheader -->
            <!-- ============================================================== -->
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="page-header">
                        <h2 class="pageheader-title"></h2>
                        <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                            <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                       
                                    </ol>
                                </nav>
                            </div>
                        <div class="page-breadcrumb">
                            <nav aria-label="breadcrumb">

                            </nav>
                        </div>
                    </div>
                </div>
            </div>
      <!-- ============================================================== -->
            <!-- end   pageheader -->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- table -->
            <!-- ============================================================== -->
            
            <div class="row">
                <!-- ============================================================== -->
                <!-- basic table  -->
                <!-- ============================================================== -->
                <div class="col-md-10">
                    <div class="card">
                        <h5 class="card-header" style="font-weight: bold;">Lab report</h5> <br> <br>
                        <div class="card-body">
                            <div class="table-responsive">
                                    <table style="width: 900px;" border="2" cellspacing="2">
                                            <tbody>
                                            <tr style="height: 21px;">
                                            <td style="width: 414px; height: 21px; font-weight: bold;">&nbsp;Name</td>
                                            <td style="width: 414px; height: 21px;" contenteditable="true">&nbsp;2</td>
                                            <td style="width: 414px; height: 21px; font-weight: bold;" >&nbsp;Age</td>
                                            <td style="width: 314px; height: 21px;" contenteditable="true">&nbsp;</td>
                                            </tr>
                                            <tr style="height: 21px;">
                                            <td style="width: 414px; height: 21px; font-weight: bold;" >&nbsp;Adress</td>
                                            <td style="width: 414px; height: 21px;"contenteditable="true">&nbsp;2</td>
                                            <td style="width: 414px; height: 21px; font-weight: bold">&nbsp;Date</td>
                                            <td style="width: 314px; height: 21px;"contenteditable="true">&nbsp;</td>
                                            </tr>
                                            <tr style="height: 21px;">
                                            <td style="width: 414px; height: 21px; font-weight: bold;">&nbsp;Gender</td>
                                            <td style="width: 414px; height: 21px;"contenteditable="true">&nbsp;dv</td>
                                            <td style="width: 414px; height: 21px; font-weight: bold;">&nbsp;Specimen</td>
                                            <td style="width: 314px; height: 21px;"contenteditable="true">&nbsp;</td>
                                            </tr>
                                            <tr style="height: 21px;">
                                            <td style="width: 414px; height: 21px; font-weight: bold;">&nbsp;Doctor</td>
                                            <td style="width: 414px; height: 21px;"contenteditable="true">&nbsp;</td>
                                            <td style="width: 414px; height: 21px; font-weight: bold;">&nbsp;Test id</td>
                                            <td style="width: 314px; height: 21px;"contenteditable="true">&nbsp;</td>
                                            </tr>
                                            </tbody>
                                            </table>
                                            <table style="width: 900px; height: 78px; " border="2" ><br> <br>
              <div style="font-weight: bold; color: blue ">  TEST RESULT DETAIL</div>                              <tbody>
  <br> <br> 


                                            <tr>
                                            <td style="width: 351px; font-weight: bold;">&nbsp;Test</td>
                                            <td style="width: 375px; font-weight: bold;">&nbsp;Result</td>
                                            </tr>
                                            <tr>
                                            <td style="width: 351px;"contenteditable="true">&nbsp;</td>
                                            <td style="width: 375px;"contenteditable="true">&nbsp;</td>
                                            </tr>
                                            <tr>
                                            <td style="width: 351px;"contenteditable="true">&nbsp; </td>
                                            <td style="width: 375px;"contenteditable="true">&nbsp;</td>
                                            </tr>
                                            <tr>
                                            <td style="width: 351px;"contenteditable="true">&nbsp;</td>
                                            <td style="width: 375px;"contenteditable="true">&nbsp;</td>
                                            </tr>
                                            </tbody>
                                      
                                            </table>
                                          
                                            <br>
                                            <a href="#" class="btn btn-info btn-rounded btn-sm my-0" style="float: right; margin-right: 100px;">Print</a>
                                            <a href="#" class="btn btn-primary btn-rounded btn-sm my-0" style="float: right; margin-right: 20px;">Submit</a>
                                            <br> <br>
                                            <br>
                                            <br>
                                            <br> <br>
                                         
                            </div>
                    
                        </div>
                    </div>
                </div>
            </div>
                           
        <!-- ============================================================== -->
        <!-- end left sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
       
    <script src="../vendors/js/jquery-3.3.1.min.js"></script>
    <script src="../vendors/css/bootstrap.bundle.js"></script>
    <script src="../vendors/js/jquery.slimscroll.js"></script>
    <script src="../vendors/js/main-js.js"></script>
</body>
 
</html>