<!doctype html>
<html lang="en">


<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hospitals</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="stylesheet" href="/css/style.css">




    <style>
        body {
            background-image: linear-gradient(rgba(29, 212, 212, 0.664), rgba(0, 0, 0, 0.7)), url("/css/img/1.jpg"), url(img/1.jpg);

            background-size: cover;
        }

        body {
            background: rgb(247, 247, 247);
        }

        hr {
            background: rgb(228, 65, 36)
        }

        .contact-form {
            background: rgb(242, 244, 245);
            color: black;
            margin-top: 20px;

            padding: 100px;

            box-shadow: 0px 0px 10px 3px rgba(66, 64, 64, 0.267);
        }
    </style>




</head>

<body>
    <% include partials/patientnav %>

    
</body>

</html>